html,body,div{
    margin:0;
    padding:0;
    border:none;
}
html{
    width:100%;
    height:100%;
    background:#b0d3ec url('fruits-background-3.jpg') bottom left no-repeat;
    background-attachment: fixed;
    background-size:cover;
}
.winkel{
    width:800px;
    padding:10px;
    background-color:#b0d3ec;
    margin:0 auto;
}
td,th{
    border:1px solid black;
    margin:5px;
    padding:5px;
}
.omschrijving{
    vertical-align:bottom;
}
input[type=text]{
    width:25px;
}
input[type=button]:not(.totaalbutton){
    width:25px;
    height:25px;
    background-color:rgb(17, 126, 173);
    margin:1px;
}